<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../fragmente/meta")%>
    <link href="/resurse/css/general-mare.css" rel="stylesheet" type="text/css">
    <link href="/resurse/css/general-mediu.css" rel="stylesheet" type="text/css" media="screen and (max-width:1200px)">
    <link href="/resurse/css/general-mic.css" rel="stylesheet" type="text/css" media="screen and (max-width:500px)">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link  rel="stylesheet" href="/resurse/css/description.css">
    <title>AutoShop</title>
</head>
<body>
<%- include("../fragmente/header")%>
<main>
    <section>
        <p>THIS IS A SCHOOL PROJECT</p>
        <p>AutoShop is a school project dedicated to learning and practicing being a fullstack developer.</p>
        <p>In this website you can find examples of videos, galleries, products databases, generated through javescript and many more</p>
        <p>Check it out!</p>
    </section>
</main>
<%- include("../fragmente/footer")%>
</body>
</html>