<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../fragmente/meta")%>
    <link href="/resurse/css/general-mare.css" rel="stylesheet" type="text/css">
    <link href="/resurse/css/general-mediu.css" rel="stylesheet" type="text/css" media="screen and (max-width:1200px)">
    <link href="/resurse/css/general-mic.css" rel="stylesheet" type="text/css" media="screen and (max-width:500px)">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <title>AutoShop</title>
</head>
<body>
<%- include("../fragmente/header")%>
<main style="background-color: #789EE8">
    <p style="text-align: center; width:300%">Contact Si Descriere</p>
</main>
<%- include("../fragmente/footer")%>
</body>