<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../fragmente/meta")%>
    <link href="/resurse/css/general-mare.css" rel="stylesheet" type="text/css">
    <link href="/resurse/css/general-mediu.css" rel="stylesheet" type="text/css" media="screen and (max-width:1200px)">
    <link href="/resurse/css/general-mic.css" rel="stylesheet" type="text/css" media="screen and (max-width:500px)">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" media="print" href="/resurse/css/print.css">
    <link rel="stylesheet" href="/temp/galeria-animata.css">
    <title>AutoShop</title>
</head>
<body>
<%- include("../fragmente/header")%>
<main>
    <%- include("../fragmente/galeria-animata")%>
</main>
<%- include("../fragmente/footer")%>
</body>
</html>
