h2,picture{
    position: relative;
}
main{
    background-color: var(--centerblue);
}
.iamgine{
    border: 5px solid var(--extra1);
}
.side{
    border: 5px solid var(--extra1);
    position: absolute;
    top:33%;
    left:30%;
}
.side>*{
    margin: 10px;
}