*{
    --darkblue:#163063;
    --lightblue:#789EE8;
    --centerblue:#326EE4;
    --grayblue:#344463;
    --justblue:#2754B0;
    --extra1:black;
    --extra2:white;
    --extra3:gray;
}

body {
    background-color: var(--extra3);
}
.fa-moon {
    visibility: hidden;
    position: absolute;
}

