<footer class="footer">
    <section class="figura">
        <div>
            <a href="#HomePage" class="triangle" title="Back to Top"></a>
        </div>
        <span class="tooltiptext"><b>BackToTop</b></span>
    </section>
    <address>
                    <pre>
        Suport and Contact:
    Phone:<a href="tel:0772548902">0772548902</a>
    Adress: Bucharest, Energeticilor Street, Nr. 13
    E-mail:<a href="mailto:GenericAutoShop@gmail.com">GenericAutoShop@gmail.com</a>
                    </pre>
    </address>
    <p><small>&copy; <time datetime="2021-03-06 17:00"></time>3 Martie 2021 </small></p>
</footer>