<section>
    <h3 id="gallery0">Gallery</h3>
    <% for (let imag of locals.imagini){%>
        <figure class="gallery1">
            <picture>
                <source srcset="<%- imag.mic %>" media="(max-width:500px)"/>
                <img src=<%- imag.mare %> alt="<%imag.alt%>" title="<%imag.text_descriere%>">
            </picture>
            <figcaption><%-imag.titlu%></figcaption>
        </figure>
<%}%>
</section>