<header id="HomePage">
    <h1>Your Local Convenience Auto Shop</h1>
    <button id="dark-mode-toggle" class="dark-mode-toggle"><i class="fas fa-moon"></i> <i class="fas fa-sun"></i></button>
    <q style="font-size:19px">Toate drumurile patriei duc la service-ul auto</q>
</header>

<label id="hamburger" for="ch-menu">
    <i class="fa fa-bars"></i>
</label>
<nav class="menu">
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li> <button class="button_menu"><a href="/index"><i id="ecasa" class="fa fa-home" aria-hidden="false"></i><a id="ascundema">Main Page</a></a></button></li>
        <li class="magazin">
            <button class="button_menu" ><a href="/Shop">Shop</a></button>
            <ul class="submeniu">
                <li class="subuton"><a href="/TopDeals">Top Deals</a></li>
                <li class="subuton"><a href="/NewParts">New Parts</a></li>
                <li class="subuton"><a href="/JunkYard">Junk Yard</a></li>
            </ul>
        </li>
        <li class="magazin">
            <button class="button_menu" ><a href="/Shop">Products</a></button>
            <ul class="submeniu">
                <li class="subuton"><a href="/AllProducts">All</a></li>
            </ul>
        </li>
        <li><button class="button_menu"><a href="/Service">Service</a></button></li>
        <li><button class="button_menu"><a href="/Guide">Maintenance Guide</a></button></li>
        <li><button class="button_menu"><a href="/Description">Description</a></button></li>
        <li><button class="button_menu"><a href="/CheckOut">Check Out</a></button></li>
    </ul>
</nav>